dt {
	font-weight: bold;
}

.filter, .filterActive, .pagination {
	line-height: 2em;
}

.filter label {
	margin: 0 .5em;
}

.filter input,
.filter select {
	margin: 0 .5em;
}

.filterActive, .pagination {
	margin: 0 0 .5em 0;
	padding: 0;
	list-style: none;
}

.filterActive li, .pagination li {
	margin: 0 0 0 .5em;
	padding: 0;
	float: left;
}

.pagination a {
	padding: 0 .5em;
	display: block;
}

.pagination a:hover,
.pagination .selected a {
	background: #efefef;
}

.pagination .selected a {
	font-weight: bold;
}

.padding {
	padding: 1em;
}

.padding-left {
	padding-left:1em;
}

.padding-right {
	padding-right:1em;
}

.padding-half {
	padding: .5em;
}

.clear {
	clear: both;
}

.strong {
	font-weight: bold;
}

.capitalize {
	text-transform: capitalize;
}

.indent {
	text-indent: 3em;
}

.light {
	color: #666;
}

.large {
	font-size: 120%;
}

.small {
	font-size: 80%;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.img-left {
	float:left;
	margin:.5em 1em .5em 0;
}

.img-right {
	float:right;
	margin:.5em 0 .5em 1em;
}

.overflow-hidden {
	overflow: hidden;
}

.hide, .hidden {
	display: none;
}

.respect-float {
	overflow: hidden;
}
