dt {
	font-weight: bold;
}

.filter, .filterActive, .pagination {
	line-height: 2em;
}

.filter label {
	margin: 0 .5em;
}

.filter input,
.filter select {
	margin: 0 .5em;
}

.filterActive, .pagination {
	margin: 0 0 .5em 0;
	padding: 0;
	list-style: none;
}

.filterActive li, .pagination li {
	margin: 0 0 0 .5em;
	padding: 0;
	float: left;
}

.pagination a {
	padding: 0 .5em;
	display: block;
}

.pagination a:hover,
.pagination .selected a {
	background: #efefef;
}

.pagination .selected a {
	font-weight: bold;
}

.message,
.warning,
.error,
.success {
	border: 1px solid;
	margin: 1em 0;
	padding: 1em;
}

.message ul,
.warning ul,
.error ul,
.success ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.message li,
.warning li,
.error li,
.success li {
	padding: 0;
	margin: 0;
}

.message {
	color: #00529B;
	background-color: #BDE5F8;
}

.warning {
	color: #9F6000;
	background-color: #FEEFB3;
}

.error {
	color: #D8000C;
	background-color: #FFBABA;
}

.success {
	color: #4F8A10;
	background-color: #DFF2BF;
}

.padding {
	padding: 1em;
}

.padding-left {
	padding-left:1em;
}

.padding-right {
	padding-right:1em;
}

.padding-half {
	padding: .5em;
}

.clear {
	clear: both;
}

.strong {
	font-weight: bold;
}

.capitalize {
	text-transform: capitalize;
}

.indent {
	text-indent: 3em;
}

.light {
	color: #666;
}

.large {
	font-size: 120%;
}

.small {
	font-size: 80%;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.img-left {
	float:left;
	margin:.5em 1em .5em 0;
}

.img-right {
	float:right;
	margin:.5em 0 .5em 1em;
}

.overflow-hidden {
	overflow: hidden;
}

.hide, .hidden {
	display: none;
}
.form {
	font-size: 1.1em;
	line-height: 2.5em;
}

.form fieldset {
	padding: 1em;
	margin: 1em 0;
}

.form label {
	display: block;
	width: 20%;
	min-width: 270px;
	float: left;
	clear: both;
	text-transform: capitalize;
}

.form input[type=text],
.form input[type=password],
.form input[type=file] {
	width: 40%;
	min-width: 250px;
}

.form textarea {
	width: 100%;
}

.form .element {
	padding: .5em;
}

.form .element a {
	padding: 0 .5em;
}

.form .required {
	color: #E3170D;
}

.form .submit {
	padding: 1em;
	text-align: center;
}

.form .element:nth-child(odd) {
	background: #f2f2f2;
}
.list {
	line-height: 1.5em;
	list-style: none;
	padding: 0;
}

.list li {
	padding: .5em 1em;
}

.list li:hover {
	background: #d3d3d3;
}

.list li.header:hover {
	background: none;
}

.list .header {
	font-weight: bold;
	line-height: 2em;
	border-bottom: 1px solid #333333;
}

.list .alt {
	background: #f2f2f2;
}

.list a.delete {
	padding: 0 .5em;
	color: #8C1717;
}
.datagrid {
	clear: both;
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}

.datagrid table,
.datagrid tbody,
.datagrid tfoot,
.datagrid thead,
.datagrid tr,
.datagrid th,
.datagrid td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

.datagrid thead,
.datagrid tfoot {
	font-weight: bold;
	background: #e0efef;
	text-align: left;
}

.datagrid thead {
	border-bottom: 1px solid #000;
}

.datagrid tfoot {
	border-top: 1px solid #000;
}

.datagrid th,
.datagrid td {
	padding: .25em .75em;
}

.datagrid tr {
	clear: both;
}

.datagrid tr:nth-child(even) {
	background: #f2f2f2;
}

.datagrid td:hover,
.datagrid th:hover,
.datagrid tr:hover {
	background: #d7eafe;
}

.datagrid .no-pad {
	padding: 0;
}

.datagrid.active td.phantom a {
	visibility: hidden;
}

.datagrid.active tr:hover .phantom a {
	visibility: visible;
}

.datagrid a.delete {
	color: #FF3333;
	margin-right: 1em;
}/*
	These are for the CODE snippet styling
*/

.code {
	background-color: #FFFFE7;
	border: 1px solid #CCCCCC;
	overflow-x: auto;
}

.code {
	background-color: #FFFFE7;
	border: 1px solid #CCCCCC;
	overflow-x: auto;
	padding: .5em;
}
	
.code pre {
	font-family: monospace;
	font-size: 11px;
	line-height: 13px;
}
	
.commentCodeColor,
.commentCodeColor .cfmlCodeColor,
.commentCodeColor .attributeCodeColor {
	color: #999999;
	font-style: italic;
}
	
.cfmlCodeColor {
	color: #840000;
}
	
.attributeCodeColor {
	color: #0000FF;
}

.cfmlCodeColor .attributeCodeColor {
	color: #0000FF;
}