.datagrid {
	clear: both;
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}

.datagrid.flexible {
	width: auto;
}

.datagrid table,
.datagrid tbody,
.datagrid tfoot,
.datagrid thead,
.datagrid tr,
.datagrid th,
.datagrid td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

.datagrid thead,
.datagrid tfoot,
.datagrid tbody th {
	font-weight: bold;
	background: #ededed;
	text-align: left;
}

.datagrid thead {
	border-bottom: 1px solid #999;
}

.datagrid.vertical th,
.datagrid.vertical td {
	border-left: 1px solid #999;
}

.datagrid.vertical th:first-child,
.datagrid.vertical td:first-child {
	border-left: none;
}

.datagrid.horizontal th,
.datagrid.horizontal td {
	border-bottom: 1px solid #999;
}

.datagrid tbody th {
	width: 1px;
}

.datagrid tfoot {
	border-top: 1px solid #999;
}

.datagrid th,
.datagrid td {
	padding: .25em .75em;
}

.datagrid tr {
	clear: both;
}

.datagrid tr:nth-child(even) td {
	background: #f2f2f2;
}

.datagrid tr:hover th,
.datagrid tr:hover td {
	background: #d7eafe;
}

.datagrid .no-pad {
	padding: 0;
}

.datagrid.active td.phantom a {
	visibility: hidden;
}

.datagrid.active tr:hover .phantom a {
	visibility: visible;
}

.datagrid .width-min {
	width: 1px;
	white-space: nowrap;
}

.datagrid .no-pad {
	padding: 0;
}

.datagrid .no-break {
	white-space: nowrap;
}

.datagrid a.delete {
	color: #FF3333;
	margin-right: 1em;
}

.datagrid a:last-child.delete {
	margin-right: 0;
}
