.datagrid {
	width: 100%;
}

.datagrid th {
	font-weight: bold;
	border-bottom: 1px solid #000;
}

.datagrid th,
.datagrid td {
	padding: .25em .75em;
}

.datagrid tr {
	clear: both;
}

.datagrid tr.alt {
	background: #f2f2f2;
}

.datagrid td.hover,
.datagrid th.hover,
.datagrid tr.hover {
	background: #d2d2d2;
}

.datagrid .no-pad {
	padding: 0;
}

.datagrid.active td.phantom {
	visibility: hidden;
}

.datagrid.active td.phantom.hover {
	visibility: visible;
}