.form {
	font-size: 1.1em;
	line-height: 2.5em;
}

.form fieldset {
	padding: 1em;
	margin: 1em 0;
}

.form label {
	display: block;
	width: 20%;
	min-width: 270px;
	float: left;
	clear: both;
	text-transform: capitalize;
}

.form input[type=text],
.form input[type=password],
.form input[type=file] {
	width: 40%;
	min-width: 250px;
}

.form textarea {
	width: 100%;
}

.form .element {
	padding: .5em;
}

.form .element a {
	padding: 0 .5em;
}

.form .required {
	color: #E3170D;
}

.form .submit {
	padding: 1em;
	text-align: center;
}

.form .element:nth-child(odd) {
	background: #f2f2f2;
}
