.form {
	font-size: 1.1em;
	line-height: 2.5em;
}

.form fieldset {
	margin: .5em 0;
}

.form label {
	display: block;
	width: 15%;
	min-width: 17em;
	float: left;
	clear: both;
	text-transform: capitalize;
	padding: 0 1em;
}

.form input[type=text],
.form input[type=password],
.form input[type=file] {
	width: 40%;
	min-width: 250px;
}

.form .element {
	padding: .5em;
}

.form .element:nth-child(odd) {
	background: #f2f2f2;
}

.form .element .modifiers {
	padding: 0 1em;
}

.form .element .options {
	overflow: hidden;
}

.form .element .options label {
	clear: none;
	display: inline;
	min-width: auto;
	width: auto;
	min-width: 0;
}

.form .required {
	color: #E3170D;
}

.form .submit {
	margin: .5em 0;
	text-align: center;
}
